# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtual env
.venv/
venv/
uv.lock

# Coverage
.coverage
coverage.xml
htmlcov/

# Cache
.mypy_cache/
.ruff_cache/
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# docs
doc/site/